#!/bin/bash
IMAGE_NAME="shenvy_{{ tool }}{{ normalized_version }}"
DOCKERFILE="{{ dockerfile }}"
TOOL_NAME="{{ entrypoint }}"
VERSION="{{ version }}"

if ! docker image inspect "$IMAGE_NAME" > /dev/null 2>&1; then
  echo "⚠️  Image '$IMAGE_NAME' not found. Building..."
  docker build --build-arg VERSION="$VERSION" -t "$IMAGE_NAME" -f "$DOCKERFILE" .
fi

USER_UID=$(id -u)

docker run -it --rm \
  -v "$PWD:/srv" \
  -v "$HOME/.config:/home/{{ tool }}/.config" \
  -e UID="$USER_UID" \
  "$IMAGE_NAME" $TOOL_NAME "$@"
